<!-- Projects Holder -->
<div class="black dark clearfix">
    <div class="heading">
        <div class="title text-uppercase" ui-jq="fitText" ui-options="1.1,{ minFontSize: '24px', maxFontSize: '36px' }">
            Recent <span class="text-blue">Works</span>
        </div>
        <p>showcase of my latest works</p>
    </div>
    <script type="text/ng-template" id="projectModal.html">
        <div ng-include="'tpl/blocks/modal.portfolio.html'"></div>
    </script>
    <!-- Single Project -->
    <div class="single-project" ui-appear data-animation="fadeIn" data-ng-repeat="project in projects">
        <div class="project-image">
            <img data-ng-src="{{project.bgPic}}" alt="" />
        </div>
        <div class="project-mask">
            <div class="project-info">
                <div class="project-title">{{project.title}}</div>
                <div class="project-caption text-blue">{{project.caption}}</div>
            </div>
            <a href data-ng-click="open(project.detail)" class="project-btn">View Details</a>
        </div>
    </div>
</div>
